In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [27]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'], fill_value='0') #filling 0 for new index which does not have value

A      1
B      2
C      3
D      4
E    NaN
F    NaN
G      0
dtype: object

In [8]:
ser3 = Series(['USA', 'Mexico', 'Canada'], index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [9]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
ser3.reindex(ranger, method='ffill') #forward fill methond will call if the value is null, which will copy the previous non-null value
#backword fill : bfill

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [15]:
#to index rows & columns - will have 5x5 data frame and index that grid
dframe = DataFrame(randn(25).reshape((5,5)), index=['A','B','D','E','F'], #index is rows index 
                   columns=['col1', 'col2', 'col3', 'col4', 'col5']) #columns is column names/index
dframe

       col1      col2      col3      col4      col5
A -1.490096 -1.815613  0.401087  0.045919 -1.042008
B  1.761505  0.097369  1.514726 -0.439713 -0.944024
D -0.767411 -0.351362  0.607458 -0.005984 -2.168026
E  0.973671 -0.396769  2.086107  0.266087 -0.799867
F -1.887955 -1.087218  1.397400 -0.199048  0.085174

In [17]:
#since we missed 'C' index, lets reindex
dframe2 = dframe.reindex(['A','B','C','D','E','F'])

dframe2

       col1      col2      col3      col4      col5
A -1.490096 -1.815613  0.401087  0.045919 -1.042008
B  1.761505  0.097369  1.514726 -0.439713 -0.944024
C       NaN       NaN       NaN       NaN       NaN
D -0.767411 -0.351362  0.607458 -0.005984 -2.168026
E  0.973671 -0.396769  2.086107  0.266087 -0.799867
F -1.887955 -1.087218  1.397400 -0.199048  0.085174

In [18]:
# reindex the columns
new_columns = ['col1', 'col2', 'col3', 'col4', 'col5', 'col6']

In [21]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A -1.490096 -1.815613  0.401087  0.045919 -1.042008   NaN
B  1.761505  0.097369  1.514726 -0.439713 -0.944024   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.767411 -0.351362  0.607458 -0.005984 -2.168026   NaN
E  0.973671 -0.396769  2.086107  0.266087 -0.799867   NaN
F -1.887955 -1.087218  1.397400 -0.199048  0.085174   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A -1.490096 -1.815613  0.401087  0.045919 -1.042008
B  1.761505  0.097369  1.514726 -0.439713 -0.944024
D -0.767411 -0.351362  0.607458 -0.005984 -2.168026
E  0.973671 -0.396769  2.086107  0.266087 -0.799867
F -1.887955 -1.087218  1.397400 -0.199048  0.085174

In [25]:
dframe.loc[['A','B','C','D','E','F'], new_columns]

C:\Users\parikshitas\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -1.490096 -1.815613  0.401087  0.045919 -1.042008   NaN
B  1.761505  0.097369  1.514726 -0.439713 -0.944024   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.767411 -0.351362  0.607458 -0.005984 -2.168026   NaN
E  0.973671 -0.396769  2.086107  0.266087 -0.799867   NaN
F -1.887955 -1.087218  1.397400 -0.199048  0.085174   NaN