In [34]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [35]:
# finding outliers in a data set / caping outliers

In [39]:
np.random.seed(123456) #passing a number to define random numbers generator

In [40]:
dframe = DataFrame(np.random.rand(1000,4))

In [41]:
dframe.head(10)

          0         1         2         3
0  0.126970  0.966718  0.260476  0.897237
1  0.376750  0.336222  0.451376  0.840255
2  0.123102  0.543026  0.373012  0.447997
3  0.129441  0.859879  0.820388  0.352054
4  0.228887  0.776784  0.594784  0.137554
5  0.852900  0.235507  0.146227  0.589869
6  0.574012  0.061270  0.590426  0.245350
7  0.340445  0.984729  0.919540  0.037772
8  0.861549  0.753569  0.405179  0.343526
9  0.170917  0.394659  0.641666  0.274592

In [42]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.499899     0.490529     0.517448     0.505676
std       0.281162     0.293038     0.288376     0.284040
min       0.001410     0.000518     0.000029     0.000313
25%       0.254974     0.239504     0.282263     0.262935
50%       0.511120     0.471118     0.514318     0.507112
75%       0.730406     0.750465     0.761336     0.745523
max       0.995198     0.998098     0.999752     0.999625

In [21]:
col = dframe[0]

In [22]:
col.head()

0    0.929616
1    0.567725
2    0.748907
3    0.008388
4    0.809813
Name: 0, dtype: float64

In [28]:
col[np.abs(col)>3] #any value in col which is >3 will be returned

74     0.999414
178    0.994779
354    0.998199
695    0.992646
Name: 0, dtype: float64

In [44]:
dframe[(np.abs(dframe)>3).any(1)] #any value in dataframe which is >3 will be returned

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [46]:
dframe[np.abs(dframe>3)] = np.sign(dframe)*3 #every value which is >3, multiply by -1/1*3

In [47]:
dframe.describe() # using above method, we can cap any outliers

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.499899     0.490529     0.517448     0.505676
std       0.281162     0.293038     0.288376     0.284040
min       0.001410     0.000518     0.000029     0.000313
25%       0.254974     0.239504     0.282263     0.262935
50%       0.511120     0.471118     0.514318     0.507112
75%       0.730406     0.750465     0.761336     0.745523
max       0.995198     0.998098     0.999752     0.999625