In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [6]:
#importing csv file
dframe = pd.read_csv('Lec25.csv')

In [7]:
dframe

   q   r   s   t    apple
0  2   3   4   5     pear
1  a   s   d   f   rabbit
2  5   2   5   7      dog

In [8]:
#first row doesnt want as column name
dframe = pd.read_csv('Lec25.csv', header=None)
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [9]:
#use read_table with separater as ,
dframe = pd.read_table('Lec25.txt', sep=',', header=None)
dframe

   0   1   2   3        4
0  q   r   s   t    apple
1  2   3   4   5     pear
2  a   s   d   f   rabbit
3  5   2   5   7      dog

In [12]:
pd.read_csv('Lec25.csv', header=None, nrows=2)

   0   1   2   3       4
0  q   r   s   t   apple
1  2   3   4   5    pear

In [13]:
# exporting file from DataFrame to csv
dframe.to_csv('mytextdata_out.csv')

In [14]:
import sys #to see output directly here, without saving as file

In [15]:
dframe.to_csv(sys.stdout)

,0,1,2,3,4
0,q, r, s, t, apple
1,2, 3, 4, 5, pear
2,a, s, d, f, rabbit
3,5, 2, 5, 7, dog

In [17]:
#use different delimiter
dframe.to_csv(sys.stdout, sep='|')

|0|1|2|3|4
0|q| r| s| t| apple
1|2| 3| 4| 5| pear
2|a| s| d| f| rabbit
3|5| 2| 5| 7| dog

In [20]:
dframe.to_csv(sys.stdout, sep='?')

?0?1?2?3?4
0?q? r? s? t? apple
1?2? 3? 4? 5? pear
2?a? s? d? f? rabbit
3?5? 2? 5? 7? dog

In [21]:
#get the subset of columns
dframe.to_csv(sys.stdout, columns=[0,1,2])

,0,1,2
0,q, r, s
1,2, 3, 4
2,a, s, d
3,5, 2, 5